@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #684BB1;
}

.main-container {
    background-image: url('images/bg-desktop.svg'), linear-gradient( #684BB1, #684BB1);
    background-repeat: no-repeat;
    max-width: 1500px;
    margin: auto;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.header {
    margin-bottom: 60px;
}

.logo {
    width: 220px;
}

.main-content-section {
    display: flex;
    margin-bottom: 20px;
}

.content-container {
    padding-top: 40px;
    padding-left: 40px;
}

.title {
    font-family: "Poppins";
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

.description {
    font-family: "Open Sans";
    color: white;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    margin-bottom: 30px;
    font-weight: 300;
}

.button {
    background-color: white;
    color: #684BB1;
    width: fit-content;
    letter-spacing: 0px;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    transition: all .5s ease;
}

.button:hover {
    background-color: #E880E8;
    color: white;
    cursor: pointer;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icons-container {
    display: flex;
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
    height: 20px;
    width: auto;
    fill: white;
}

.facebook-icon-container,
.twitter-icon-container {
    margin-right: 20px;
}

.facebook-icon-container,
.twitter-icon-container,
.instagram-icon-container {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.facebook-icon-container:hover,
.twitter-icon-container:hover,
.instagram-icon-container:hover {
    border: 1px solid #E880E8;
}

.facebook-icon-container:hover .facebook-icon,
.facebook-icon-container {
    fill: #E880E8;
    cursor: pointer;
}

.twitter-icon-container:hover .twitter-icon,
.twitter-icon-container {
    fill: #E880E8;
    cursor: pointer;
}

.instagram-icon-container:hover .instagram-icon,
.instagram-icon-container {
    fill: #E880E8;
    cursor: pointer;
}

/* --------------Media queries-------------- */

@media only screen and (max-width: 1240px) {

    body {
        height: fit-content;
        overflow: scroll;
    }

    .main-container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        background-image: url('images/bg-mobile.svg'), linear-gradient( #684BB1, #684BB1);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main-content-section {
        flex-direction: column;
        margin: auto;
        margin-bottom: 80px;
    }

    .illustration-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .illustration {
        max-width: 95%;
    }

    .content-container {
        padding-left: 0;
    }

    .title {
        text-align: center;
        font-size: 24px;
        line-height: 36px;
    }

    .description {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }

    .button {
        margin: auto;
        width: 70%;
        padding: 10px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 12px;
    }

    .footer {
        justify-content: center;
    }
}